<?xml version="1.0"?>
<launch>
	<arg name="use_rviz" default="true" doc="if true, launch rviz"/>
	<param name="left_wheel_joint" value="wheel_left_joint"/>
	<param name="right_wheel_joint" value="wheel_right_joint"/>
	<param name="vx_noise" value="0.005"/>
	<param name="w_noise" value="0.01"/>
	<param name="slip_max" value="0.15"/>
	<rosparam param="x_tubes">[2, -2, -0.5, 1, 0.6, 1.2, 0]</rosparam>
	<rosparam param="y_tubes">[2, 1.5, 0.2, 0.8, -0.3, -1, -0.5]</rosparam>
	<!-- "tube_var" is ordered as [sigma_x, sigma_y, sigma_xy] -->
	<rosparam param="tube_var">[0.03,0.03,0.01]</rosparam>   <!--[0.03, 0.03, 0.01]-->
	<param name="tube_radius" value="0.0762"/>
	<param name="d_max_tubes" value="2.0"/>
	<param name="robot_radius" value ="0.105"/>  
	<param name="lidar_min_range" value="0.120"/>
	<param name="lidar_max_range" value="3.5"/>
	<param name="lidar_dtheta" value="1"/> <!-- in degrees -->
	<param name="lidar_n_samples" value="360"/>
	<param name="lidar_resolution" value="0.015"/>
	<param name="lidar_noise" value="0.005"/>
	<param name="border_width" value="6"/>
	<param name="border_height" value="6"/>
	<rosparam command="load" file="$(find nuturtle_description)/config/diff_params.yaml" />
	
	<node pkg="turtlebot3_teleop" type="turtlebot3_teleop_key" name="turtlebot3_teleop_keyboard" output="screen"/>
	<node pkg="nurtlesim" type="tube_world" name="tube_world"/>
	<group if="$(arg use_rviz)">
		<node name="rviz" pkg="rviz" type="rviz" args="-d '$(find nurtlesim)/config/sim.rviz'"/>
	</group>
</launch>
