<?xml version="1.0"?>
<launch>
	<param name="left_wheel_joint" value="wheel_left_joint"/>
	<param name="right_wheel_joint" value="wheel_right_joint"/>
	<param name="odom_frame_id" value="odom"/>
	<param name="body_frame_id" value="base_footprint"/>
	<machine name="turtlebot" address="turtlebot.local" user="ubuntu" env-loader="/home/ubuntu/loader.sh"/>
	
	<include file="$(find nuturtle_robot)/launch/basic_remote.launch">
		<arg name="robot" value="turtlebot.local"/>
	</include>
	<arg name="follow_circle" default="true" doc="if true, launch follow_circle node, else launch turtlebot3_teleop_key node" />
	
	<group if="$(arg follow_circle)">
		<node pkg="nuturtle_robot" type="follow_circle" name="follow_circle">
			<param name="~circle_radius" value="0.15"/>
			<param name="~speed" value="0.1"/>
		</node>
	</group>
	<group unless="$(arg follow_circle)">
		<node pkg="turtlebot3_teleop" type="turtlebot3_teleop_key" name="turtlebot3_teleop_keyboard" output="screen"/>
	</group>
	
	<node machine="turtlebot" pkg="rigid2d" type="odometer" name="odometer"/>
	<node machine="turtlebot" pkg="nuturtle_robot" type="turtle_interface" name="turtle_interface"/>

	<param name="robot_description" command="$(find xacro)/xacro $(find nuturtle_description)/urdf/turtlebot3_burger.urdf.xacro" /> 
	<rosparam command="load" file="$(find nuturtle_description)/config/diff_params.yaml" />
	
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" /> 
	<node name="rviz" pkg="rviz" type="rviz" args="-d '$(find rigid2d)/config/model.rviz'"/>
</launch>
