<?xml version="1.0"?>
<launch>
	<param name="left_wheel_joint" value="wheel_left_joint"/>
	<param name="right_wheel_joint" value="wheel_right_joint"/>
	<param name="odom_frame_id" value="odom"/>
	<param name="body_frame_id" value="base_footprint"/>
	
	<!-- q_cov is ordered as [sigma_x, sigma_y, sigma_theta, sigma_xy, sigma_xtheta, sigma_ytheta] -->
	<rosparam param="q_cov">[0.1, 0.1, 0.1, 0.05, 0.01, 0.01]</rosparam>
	<rosparam command="load" file="$(find nuturtle_description)/config/diff_params.yaml" />
	
	<param name="robot_description" command="$(find xacro)/xacro $(find nuturtle_description)/urdf/turtlebot3_burger.urdf.xacro" />
	
	<node pkg="turtlebot3_teleop" type="turtlebot3_teleop_key" name="turtlebot3_teleop_keyboard" output="screen"/>
	<node pkg="nurtlesim" type="tube_world" name="tube_world" output="screen"/>
	<!--node name="rviz" pkg="rviz" type="rviz" args="-d '$(find nurtlesim)/config/sim.rviz'"/-->
	<node pkg="nuslam" type="slam" name="slam"/>
	
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" /> 
	<!--node name="rviz" pkg="rviz" type="rviz" args="-d '$(find rigid2d)/config/model.rviz'"/-->
</launch>
